extends layout

block content

  div.row.row-centered.bckground-header
    h1.text-center Get some help to make the world a better place

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content
        .col-md-12
          h1.text-center Corporates
        .col-md-12.break  

        .col-md-12
          h2 What we offer

          div.col-md-4.text-center
            .col-md-12
              h3 Lorem
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius aut vero explicabo, sed molestias saepe tempore. Quae debitis alias deserunt, doloribus nostrum sapiente aperiam vel, porro excepturi quasi ad. Quia.

          div.col-md-4.text-center
            .col-md-12
              h3 Ipsum
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quae facere natus repellat odit excepturi voluptatem eaque. Eos recusandae molestias, quasi quis, enim officiis impedit qui dolore, nesciunt, laborum architecto.

          div.col-md-4.text-center
            .col-md-12
              h3 Dolor
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, minus, quae! Voluptas amet eaque, iste omnis tenetur. Harum officiis fugit, vel possimus, error laboriosam eius voluptatem earum unde dolorum ab!
        
        .col-md-12.break

        .col-md-12
          h2 We trust in them
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit numquam maiores excepturi placeat quisquam distinctio, non aliquam harum tenetur atque, ipsam nemo consequatur laborum inventore quidem molestias magnam, ex suscipit.
          br
          .col-md-4
            a(href="/c_profile")
              .col-md-12.text-center.v_story
                img(src="/images/landscape_placeholder.png")
                .col-md-12
                  p.volunteer_name Cool corpo
                  p.text-justify Let's change the face of the world together!
          .col-md-4
            a(href="/c_profile")
              .col-md-12.text-center.v_story
                img(src="/images/landscape_placeholder.png")
                .col-md-12
                  p.volunteer_name Cool corpo 1
                  p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          .col-md-4
            a(href="/c_profile")
              .col-md-12.text-center.v_story
                img(src="/images/landscape_placeholder.png")
                .col-md-12
                  p.volunteer_name Cool Corpo 2
                  p.text-justify Consectetur adipisicing elit. Labore similique 