extends layout

block content
  
  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content.corpo
        .col-md-12.top
          img(src="/images/background_placeholder.png")
        .col-md-12
          .col-md-2.profile_photo.clearfix
            img(src="/images/square_placeholder.png")
          .col-md-6
            h3 The cool corporate
            p.tagline Let's change the face of the world together!
          .col-md-4.text-center
            a(href="mailto:csr@coolcorpo.co.uk", class="btn sharp btn-lg btn-primary big-btn") Contact us

          .col-md-12
          .col-md-6  
            p
              |Website: 
              a(href="http://www.coolcorpo.org.uk/") <em>http://www.coolcorpo.co.uk</em>
              br
              |Email: 
              a(href="mailto:london@coolcorpo.org.uk") <em>london@coolcorpo.co.uk </em>
              br
              |Phone Number: <em>555-5555-555</em>
          .col-md-6
            p Location: <br/>
              |<em>25 Lexington St <br/>
              |London W1F 9AG, UK</em>           
          .col-md-12.break
          .col-md-12
            p.text-left  Lorem ipsum dolor sit amet, 
              |consectetur adipisicing elit. Tempora, cupiditate fugit, ratione aliquid maiores in earum atque enim dolorum id, illo nostrum pariatur et numquam. Recusandae, explicabo. Nulla tenetur, vel!
          
          .col-md-12.break
          
          .col-md-12
            h2 Our values
            p Sony's corporate social responsibility (CSR) activities reflect its philosophy of implementing sound business practices; innovating to realize products, services and content that inspire and excite; assisting the communities in which we operate; and helping to shape a better, more sustainable society. Sony believes that these activities both benefit society and enhance corporate value.
              |Society's expectations of Sony constantly evolve in line with the diversification of markets and customer lifestyles, advances in Sony products and services, and the changing concerns of the Company's stakeholders. As the Sony Group presses forward with strategies aimed at strengthenig its operating foundation and achieving its business targets, it will also continue to promote bold initiatives, including in its CSR agenda.

            .col-md-6.csr
              h3.text-center  Corporate Governance
              p Sony has long recognized the ongoing enhancement of its corporate governance structure as one of its most important management objectives. As part of this effort, in addition to complying with the requirements of applicable laws and regulations, Sony has introduced its own requirements to strengthen the separation of the directors' function from that of management and to advance the proper functioning of the statutory committees. This has enabled Sony to build and maintain a corporate governance system that facilitates swift decision-making and the efficient management of the Sony Group.
            
            .col-md-6.csr
              h3.text-center Compliance
              p Sony Group's policy is to comply with all applicable laws and regulations of the countries and regions in which it operates and to conduct its business activities in an honest and ethical manner. 
                |As a company with electronics, entertainment and other business activities around the world, Sony understands that conducting business with integrity and fairness is an essential duty of management. To this end, Sony has established a Global Compliance Network through which it promotes initiatives aimed at reinforcing the Company's worldwide commitment to integrity in its business activities.

            .col-md-6.csr
              h3.text-center Human Resources
              p Sony engages in a wide range of business activities in locations around the world and employs people of many different nationalities and backgrounds. The Company strongly believes that its corporate culture of respect and appreciation for diversity is one of its principal strengths. To fully leverage its diverse labor force across its various businesses in pursuit of innovation and value creation, Sony has resolved to further emphasize the promotion of diversity across the Sony Group as part of its corporate strategy. In line with this approach, Sony is working to provide opportunities that enable its employees to continue to develop their talents and to create work environments that bring their full capabilities into play.
            
            .col-md-6.csr
              h3.text-center Responsible Sourcing
              p In light of increasing concern regarding environmental and human rights issues related to the manufacture of electronics products, Sony engages in active, ongoing dialogue with key industry associations, including the Electronic Industry Citizenship Coalition (EICC)—established to improve the social and environmental responsibility of electronics companies—and nongovernmental organizations (NGOs), and promotes a variety of pertinent initiatives. In January 2013, for example, in compliance with Section 1502 of the U.S. Dodd-Frank Act, Sony launched a traceability program to determine the source of certain raw materials used in our products and to help assure that the minerals used in our products originated from ethical sources.

