head
    title #{title} | VOLO
    link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/select2-bootstrap.min.css")
    link(href='/less/style.less', rel='stylesheet/less', type="text/css")
    link(href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css", rel="stylesheet")
    //- link(href='/stylesheets/style.css', rel='stylesheet')
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js")
    script(src="/javascripts/bootstrap.min.js")
    //- script(src='/javascripts/combodate.js')
    meta(name="theme-color", content="#ffffff")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="SocialLift encourages volunteering in UK")