head
    title #{title} | SocialLift
    link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='/less/style.less', rel='stylesheet/less', type="text/css")
    //- link(href='/stylesheets/style.css', rel='stylesheet')
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js")
    script(src="/javascripts/bootstrap.min.js")  
    meta(name="theme-color", content="#ffffff")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="SocialLift encourages volunteering in UK")