head
    title #{title} - VOLO
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/less/style.less', rel='stylesheet/less', type="text/css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js")
    //- link(href='/stylesheets/style.css', rel='stylesheet')
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js")
    script(src="/javascripts/bootstrap.min.js")
    //- script(src='/javascripts/combodate.js')
    meta(name="theme-color", content="#ffffff")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Volo encourages volunteering in UK. Join the movement: Social Responsibility is everyone's responsibility")