extends layout

block content

  div.row.row-centered.bckground-header
    h1.text-center Volunteer work verified, with incentives

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content
        div.col-md-12
          h2 How it works

          div.col-md-4.hiw.text-center
            p 1
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius aut vero explicabo, sed molestias saepe tempore. Quae debitis alias deserunt, doloribus nostrum sapiente aperiam vel, porro excepturi quasi ad. Quia.

          div.col-md-4.hiw.text-center
            p 2
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quae facere natus repellat odit excepturi voluptatem eaque. Eos recusandae molestias, quasi quis, enim officiis impedit qui dolore, nesciunt, laborum architecto.

          div.col-md-4.hiw.text-center
            p 3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, minus, quae! Voluptas amet eaque, iste omnis tenetur. Harum officiis fugit, vel possimus, error laboriosam eius voluptatem earum unde dolorum ab!
