extends layout

block content

  div.row.row-centered.bckground-header
    h1.text-center Everyone has a role in creating a better future

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
        
        .col-md-12.col-sm-12.col-xs-12
          .col-md-10.col-md-push-1.col-sm-12.col-xs-12.no-gutter
            p.liner.text-center 
              |VOLO is an online platform that brings together the community in order to create social change. <br/>
              |We believe that social responsibility is everyone’s responsibility and that a small commitment from many vs. a large sacrifice from few, will provide a more sustainable solution for creating long-term social impact. <br/>
              |We also believe that social progress should benefit everyone. And now with VOLO it does! 
              br
              a(href="/volunteers") Learn more about how being a VOLO volunteer helps you to get ahead.   
        
        .col-md-12.break

        .col-md-12.col-sm-12.col-xs-12
          h2.text-center VOLO is easy, fun and benefits everyone!

        .col-md-12.break
        .col-md-12.col-sm-12.col-xs-12
          h3 Check out the VOLO Volunteers that are making a difference:

          .col-md-3.col-sm-4.col-xs-6
            .col-md-10.col-md-offset-1.text-center.v_story.no-gutter
              a(href="v_profile")
                img(src="/images/melissa.png")
                p.volunteer_name Melissa 

          .col-md-3.col-sm-4.col-xs-6
            .col-md-10.col-md-offset-1.text-center.v_story.no-gutter
              a(href="v_profile")
                img(src="/images/baptiste.png")
                p.volunteer_name Baptiste 

          .col-md-3.col-sm-4.col-xs-6
            .col-md-10.col-md-offset-1.text-center.v_story.no-gutter
              a(href="v_profile")
                img(src="/images/leonie.png")
                p.volunteer_name Léonie

          .col-md-3.col-sm-4.col-xs-6
            .col-md-10.col-md-offset-1.text-center.v_story.no-gutter
              a(href="v_profile")
                img(src="/images/adrien.png")
                p.volunteer_name Adrien