doctype html
html
  include head

  include header

  block content

  block footer
    .col-md-12#footer
      .col-md-2.col-md-offset-1.text-center
        a(href="#") About 

      .col-md-2.col-md-offset-2.text-center
        a(href="#") Contact us

      .col-md-2.col-md-offset-2.text-center
        a(href="#") Partners

      .col-md-12
        p &nbsp;

      .col-md-2.col-md-offset-5
        .col-md-6.text-center
          img(src="/images/social-facebook-md.svg")
        
        .col-md-6.text-center
          img(src="/images/social-twitter-md.svg")

  script(src="/javascripts/script.js")