extends layout

block content

  div.row.row-centered.bckground-header
    h1.text-center Get help to make the world a better place
    h2.text-center When you VOLO, everyone benefits!

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        //- .col-md-12
        //-   h1.text-center Nonprofits
        //- .col-md-12.break  

        //- .col-md-12
        //-   h2 How we can help

        //-   div.col-md-4.text-center
        //-     .col-md-12
        //-       h3 Lorem
        //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius aut vero explicabo, sed molestias saepe tempore. Quae debitis alias deserunt, doloribus nostrum sapiente aperiam vel, porro excepturi quasi ad. Quia.

        //-   div.col-md-4.text-center
        //-     .col-md-12
        //-       h3 Ipsum
        //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quae facere natus repellat odit excepturi voluptatem eaque. Eos recusandae molestias, quasi quis, enim officiis impedit qui dolore, nesciunt, laborum architecto.

        //-   div.col-md-4.text-center
        //-     .col-md-12
        //-       h3 Dolor
        //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, minus, quae! Voluptas amet eaque, iste omnis tenetur. Harum officiis fugit, vel possimus, error laboriosam eius voluptatem earum unde dolorum ab!
        
        //- .col-md-12.break
        
        .col-md-10.col-md-offset-1.col-sm-12.col-xs-12
          p.liner.text-center 
            |VOLO connects you with volunteers that have the skills you need to move your vision forward. As VOLO volunteers have the chance to enhance and develop their skills while helping your organization grow, they need you as much as you need them.  
            br
            |So VOLO today and grow together for a better tomorrow! 
        
        .col-md-12.break

        .col-md-12.col-sm-12.col-xs-12
          h3 The nonprofits we support
          .col-md-4.col-sm-6.col-xs-6
            a(href="/n_profile")
              .col-md-12.text-center
                img(src="/images/landscape_placeholder.png")
                p.volunteer_name British Red Cross
                p.text-justify We help people in crisis, whoever and wherever they are.
          .col-md-4.col-sm-6.col-xs-6
            a(href="/n_profile")
              .col-md-12.text-center
                img(src="/images/landscape_placeholder.png")
                p.volunteer_name ABL Health
                p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          .col-md-4.col-sm-6.col-xs-6
            a(href="/n_profile")
              .col-md-12.text-center
                img(src="/images/landscape_placeholder.png")
                p.volunteer_name Bradford Environmental Action Trust (BEAT)
                p.text-justify Consectetur adipisicing elit. Labore similique 