extends layout

block content

  div.row.row-centered.background-header(style="background-image: url('/images/nonprofit_background.jpg');")
    h1.text-center.col-md-10.col-md-push-1.col-xs-12.col-sm-12 Get help to make the world a better place

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        
        .col-md-10.col-md-offset-1.col-sm-12.col-xs-12
          p.liner.text-center 
            |VOLO connects you with volunteers that have the skills you need to move your vision forward. As VOLO volunteers have the chance to enhance and develop their skills while helping your organization grow, they need you as much as you need them.  
            br
            |So VOLO today and grow together for a better tomorrow! 
        
        .col-md-12.break
    
    .row.row-centered.colored
      .col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        .col-md-12.col-sm-12.col-xs-12
          h3.text-center.col-md-6.col-md-offset-3 The nonprofits we support
          .col-md-12.col-sm-12.col-xs-12
          .col-md-4.col-sm-6.col-xs-6
            a(href="/n_profile")
              .col-md-12.text-center
                img(src="/images/BRC.png")
                p.volunteer_name British Red Cross
          .col-md-4.col-sm-6.col-xs-6
            a(href="/n_profile")
              .col-md-12.text-center
                img(src="/images/ageUK.png")
                p.volunteer_name Age UK
          .col-md-4.col-sm-6.col-xs-6
            a(href="/n_profile")
              .col-md-12.text-center
                img(src="/images/cancer_research.png")
                p.volunteer_name Cancer Research UK


        .col-md-12.col-sm-12.col-xs-12.break
          