extends layout

block content
  //- inline editing
  script(src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js")
  //- combodate
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")

  //- select2
  script(src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js")

  //- number input
  script(src="/javascripts/bootstrap-formhelpers-phone.js")
  script(src="/javascripts/bootstrap-formhelpers-countries.js")
  
  //- autocomplete for roles
  script(src="/javascripts/jquery.autocomplete.min.js")  

  script(src="/javascripts/Chart.js")
  script(src="/javascripts/goal.js")  

  //- for ajaxsubmit
  script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
  
  //- file input validation
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js")
    //- necesary to validate extension file
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/additional-methods.min.js")

  div.container-fluid
    .col-md-7.col-md-offset-1
      div.row.row-centered
        .col-md-12
          .col-md-12.content
            .col-md-2.user-bg
              img(src="/images/placeholder.png", class="text-center")
              a(href="#", id="changeImg", class="text-center", data-toggle="modal", data-target="#uploadModal") Change photo
            .col-md-7
              h3
                a(href="#", id="f_name", data-type="text", data-pk="f_name", data-url="#", data-title="Enter first name") John 
                a(href="#", id="l_name", data-type="text", data-pk="l_name", data-url="#", data-title="Enter last name") Doe
                img(src="/images/male.svg", class="ico")
              p.date 
                a(href="#", id="birthdate", data-value="1990-05-14", data-type="combodate", data-pk="birthdate", data-url="#", data-title="Enter your birth date")
            .col-md-12
            .col-md-6.info
              p Email: <em>john.doe@gmail.com</em>
              p Phone: <em>555-555-555</em>
              p Current position: <em>Student at Oxford University</em>
              p Accumulated hours: <em>620</em>
            .col-md-5.col-md-offset-1.info
              p Home: <br/>
              |<em>London W1F 9AG, UK</em>

      
      div.row.row-centered
        .col-md-12
          .col-md-12.content.skills
            .col-md-12
              h2 Skills

            .col-md-12
              .col-md-7.bar(style="background-color:#666")
                span Web development
              .clearfix
              .col-md-5.bar(style="background-color:#888")
                span Marketing
              .clearfix
              .col-md-4.bar(style="background-color:#aaa")
                span Communication
              .clearfix
              .col-md-3.bar(style="background-color:#ccc")
                span Social Media
              
      div.row.row-centered
        .col-md-12
          .col-md-12.content.XP
            .col-md-12
              h2 Experiences

            .col-md-12.XP_form 
              h3 Add an experience to your volunteer profile
              form(action="#")
                h4 Nonprofit
                .form-group.col-md-12.no-gutter
                  label.col-md-12(for="nonprofit") Nonprofit name *
                  input.col-md-12(name="nonprofit", input="text", required)
                  label.col-md-12(for="description") Description of your experience
                  textarea.col-md-12(name="description", rows="2")

                h4 Activity
                .form-group.col-md-12.no-gutter
                  label.col-md-12(for="role") Role
                  //- select(class="role-single select2 col-md-8", required)
                  //-   option()
                  //-   option(value="web_developer") Web Developer
                  //-   option(value="designer") Designer
                  //-   option(value="builder") Builder
                  //-   option(value="event_organizer") Event Organizer
                  input.col-md-12(class="role", name="role", type="text", required)
                  //- input(type="text", autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false", class="select2-input skill-multiple col-md-8")
                  label.col-md-12.text-left(for="skills") Skills developed
                  //- input.col-md-8(id="skills", name="skills", type="text", required)
                  select(class="skills select2-multiple col-md-12", multiple, required)
                    option(value="web") Web
                    option(value="design") design
                    option(value="app") App
                    option(value="UX") UX

                  label.col-md-12.text-left(for="hours") Number of hours
                  input.col-md-12(name="hours", type="number", required)

                  label.col-md-12.text-left(for="s_date") Dates
                  .col-md-12
                    .col-md-6
                      span.col-md-12.date_label.no-gutter From *: 
                      input.col-md-12(name="s_date", type="date", required)
                    .col-md-6
                      span.col-md-12.date_label.no-gutter To: 
                      input.col-md-12(name="e_date", type="date")

                h4 Referee
                p 
                  |Please enter the name and contact details of someone involved in your project who can confirm what you do there.
                  |This person should be aged 18 or over, and you must ask their permission before giving us their details.
                .form-group.col-md-12
                  .col-md-6.no-gutter
                    label.col-md-12(for="referee_name") Refereee name *
                    input.col-md-12(name="referee_name", type="text", required)
                  .col-md-6.no-gutter_r
                    label.col-md-12(for="referee_phone") Refereee phone number *
                    input.col-md-12.bfh-phone(name="referee_phone", required, type="text", data-format="+44 - dddddddddd")

                  label.col-md-12(for="referee_email") Refereee email *
                  input.col-md-12(name="referee_email", type="email", required)

                h4 Personal Notes
                .form-group.col-md-12
                  label.col-md-12(for="note") You can write personal notes - they won't be public.
                  textarea.col-md-12(name="note", rows="2")                

                .form-group.col-md-12.text-center
                  input(type="submit", value="Add experience", class="btn primary sharp")

            .col-md-12
              p.charity_name British Red Cross
              p <em>April 2014 - September 2014. ~ 120 hours volunteered</em>
              p During these 5 months of volunteering, I lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
              p <u>1 recommendation</u>
              
              h5 Roles
              .row
                .col-md-6.role
                  .col-md-12.grey_background
                    p Role: <em>Web Developper</em>
                    p Skills: <em>autonomy, rigour, web development</em>
                    p <em>50 hours</em>
                    p.validation Validation pending
                .col-md-6.role
                  .col-md-12.grey_background
                    p Role: <em>Events volunteer</em>
                    p Skills: <em>organization, logistics</em>
                    p <em>70 hours</em>
                    p.validation Validated
              
              .row
                .col-md-6.role
                  .col-md-12.grey_background.add_role.text-center
                    span.add_new Add new role
                    form(action="#", class="role_form col-md-12 height-0")
                      h3 Add new role
                      h4 Activity
                      .form-group.col-md-12.no-gutter
                        label.col-md-12(for="role") Role
                        //- select(class="role-single select2 col-md-8", required)
                        //-   option()
                        //-   option(value="web_developer") Web Developer
                        //-   option(value="designer") Designer
                        //-   option(value="builder") Builder
                        //-   option(value="event_organizer") Event Organizer
                        input.col-md-12(class="role", name="role-role", type="text", required)
                        //- input(type="text", autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false", class="select2-input skill-multiple col-md-8")
                        label.col-md-12.text-left(for="skills_role") Skills developed
                        //- input.col-md-8(id="skills", name="skills", type="text", required)
                        select(id="skills_role", class="skills select2-multiple col-md-12", multiple, required)
                          option(value="web") Web
                          option(value="design") design
                          option(value="app") App
                          option(value="UX") UX

                        label.col-md-12.text-left(for="hours") Number of hours
                        input.col-md-12(name="hours", type="number", required)

                        label.col-md-12.text-left(for="s_date") Dates
                        .col-md-12.no-gutter
                          .col-md-6
                            span.col-md-12.date_label.no-gutter From *: 
                            input.col-md-12(name="s_date", type="date", required)
                          .col-md-6
                            span.col-md-12.date_label.no-gutter To: 
                            input.col-md-12(name="e_date", type="date")

                      h4 Referee
                      p 
                        |Please enter the name and contact details of someone involved in your project who can confirm what you do there.
                        |This person should be aged 18 or over, and you must ask their permission before giving us their details.
                      .form-group.col-md-12.no-gutter
                        .col-md-6.no-gutter
                          label.col-md-12(for="referee_name") Refereee name *
                          input.col-md-12(name="referee_name", type="text", required)
                        .col-md-6.no-gutter_r
                          label.col-md-12(for="referee_phone") Refereee phone number *
                          input.col-md-12.bfh-phone(name="referee_phone", required, type="text", data-format="+44 - dddddddddd")

                        label.col-md-12(for="referee_email") Refereee email *
                        input.col-md-12(name="referee_email", type="email", required)

                      h4 Personal Notes
                      .form-group.col-md-12.no-gutter
                        label.col-md-12(for="note") You can write personal notes - they won't be public.
                        textarea.col-md-12(name="note", rows="2")                

                      .form-group.col-md-12.text-center
                        input(type="submit", value="Add experience", class="btn primary sharp")


                  

            .separator.col-md-2.col-md-offset-5
            
            .col-md-12
              p.charity_name ABL Health
              p <em>February 2012 - September 2013. ~ 500 hours volunteered</em>
              p I volunteered for 1.5 years in lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
              p Skills: <em>autonomy, rigour, communication</em>
              
            .col-md-12.add
              a(href="#", id="addXP")
                p.text-center Add experience
      

      .row.row-centered
        .col-md-12
          .col-md-12.content
            .col-md-12
              h2 Recommendations

            .col-md-1.user-md
              img(src="/images/placeholder.png")
            .col-md-10
              p.manager_name Tom Scott - Red Cross London
              img(src="/images/stars.svg", width="100px")
              p During these 5 months of volunteering, John has been I lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    
    .col-md-3
      div.row.row-centered
        .col-md-12.content
          .col-md-12
            h2 Goals
            
            h5 Total hours volunteered
            canvas(id="g_goal", height="280px", width="80px")

            h5 Hours volunteered <em>this week</em>
            canvas(id="w_goal", height="230px")
            p You've reached your weekly goal!! <em>
              a(href="#") Share it </em>

    .modal.fade#uploadModal
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal") &times;
            p Change your profile photo
          .modal-body
            form(id="uploadForm", enctype="multipart/form-data", action="/api/photo", method="post")
              input(type="file", name="userPhoto", value="Upload new photo")
              input(type="submit", value="Change photo", name="submit", class="btn btn-primary")

  script.
    //- $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function() {
      $('#f_name').editable();
      $('#l_name').editable();
      $('#birthdate').editable({
        format: 'YYYY-MM-DD',    
        viewformat: 'DD/MM/YYYY',    
        template: 'D / MMMM / YYYY',    
        combodate: {
              maxYear: 1999, 
              minYear: 1920
         }
      });

      $('#addXP').on('click', function(){
        $(".XP_form").fadeIn();
        $(".skills").select2();
        $('html, body').animate({
            scrollTop: $(".XP").offset().top
          }, "slow");
        if ($(".role_form").is(":visible")) {
          $(".role_form").hide().removeClass('height-auto').parent().addClass('text-center').removeClass('no-hover').parent().switchClass("col-md-12", "col-md-6", 500, function(){
          $(".add_new").removeClass('hide_it').show();
          });
        }
      });

      $(".add_role").on('click', function(){
        $(this).unbind('click');
        if ($('.XP_form').is(':visible')) {
          $('.XP_form').hide();
          $('html, body').animate({
              scrollTop: $(".role_form").offset().top
            }, "slow");
        }
        $(".add_new").hide().addClass('hide_it');
        $(".role_form").show().addClass('height-auto').parent().removeClass('text-center').addClass('no-hover').parent().switchClass("col-md-6", "col-md-12", 500, function () {
            $('html, body').animate({
              scrollTop: $(".role_form").offset().top
            }, "slow");
            $("#skills_role").select2();
          });
      });
      
      var roles = [
         { value: 'Web Developer', data: 'web_developer' },
         { value: 'Designer', data: 'designer' }
      ];
      var NoResultsLabel = "No Results";

      $('.role').autocomplete({
          lookup: roles,
          onSelect: function (suggestion) {
          }
      });

      $('#uploadForm').validate({
          rules: {
              userPhoto: {
                  required: true,
                  extension: "png|jpg|gif|jpeg"
              }
          },
          messages: {
              userPhoto: {
                  required: "Please upload a new photo",
                  extension: "Please upload a valid image file"
              }
          }
      });

      $('#uploadForm').submit(function() {
        $(this).ajaxSubmit({
          error: function(xhr) {
            console.log(xhr);
          },
          success: function(response) {
            console.log(response);
            var $newFile = response.substring(6);
            $('.modal').modal('toggle');
            $(".user-bg img").attr('src',$newFile);
          }
        });
        return false;
      });    

    });



