extends layout

block content
  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content
        .col-md-12
          h3 Create your account with VOLO.
          h4= info
          form(role='form', action="/register",method="post", class="col-md-5")
            p First choose your type of user:
            .form-group
              label.radio-inline Volunteer
                input(type="radio", value="volunteer", name="usertype")
              label.radio-inline Nonprofit
                input(type="radio", value="nonprofit", name="usertype")
              label.radio-inline Corporate
                input(type="radio", value="corporate", name="usertype")
            .form-group
              input.form-control(type='text', name="first_name", placeholder='Enter your first name')
            .form-group
              input.form-control(type='text', name="last_name", placeholder='Enter your last name')
            .form-group
              input.form-control(type='text', name="username", placeholder='Enter your username')
            .form-group
              input.form-control(type='text', name="email", placeholder='email@domain.com')
            .form-group
              input.form-control(type='password', name="password", id="password", placeholder='Password')
            .form-group
              button.btn.btn-default(type='submit', id="submit") Submit
              &nbsp; 
              a(href='/')
                button.btn.btn-primary(type="button") Cancel

  script.
    $(document).ready(function() {
      $('#submit').on('click', function(){
        console.log($('#password').val());
        })
    });