extends layout

block content

  .row.row-centered.background-header
    h1.text-center.col-md-10.col-md-push-1.col-xs-12.col-sm-12 Empower your students through Social Action 
    h2.text-center.col-md-10.col-md-push-1.col-xs-12.col-sm-12 Help build a stronger and more socially conscious workforce

  .container-fluid
    .row.row-centered
      .col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        
        .col-md-10.col-md-offset-1.col-sm-12.col-xs-12
          p.liner.text-center Universities that VOLO, have students that are better prepared for the workplace!  
        .col-md-12.break
        .col-md-12.col-sm-12.col-xs-12
          .col-md-12.text-center
            .col-md-5.col-md-push-1.col-sm-5.col-sm-push-1.col-xs-12
              p.col-md-10.col-md-offset-1
                |It is becoming more and more essential for students to have valuable work experience prior to graduation in order to secure entry-level roles.  
                |When students volunteer through VOLO, they gain valuable experience to enrich their CVs while at the same time providing charities with much needed support for their initiatives. 
            .visible-xs
              p &nbsp;
            .col-md-5.col-md-push-1.col-sm-5.col-sm-push-1.col-xs-12
              p.col-md-10.col-md-offset-1
                |VOLO will also recommend new volunteer opportunities to help you further strengthen the skill that you want to develop and promote to employers. 
                |And you don’t have to take our word for it... 
                |Skill building is <em>peer recommended</em>, so you can be sure that it's the right opportunity for you! 
        .col-md-12.break
        .col-md-12.col-sm-12.col-xs-12
          p.text-center|<a href="#">Sign up</a> to be a VOLO University Partner today, because when <em>you VOLO, everybody benefits!</em>

        .col-md-12
          h3 Our partners
          .col-md-4.col-sm-6.col-xs-6
            a(href="/u_profile")
              .col-md-12.text-center
                img(src="/images/landscape_placeholder.png")
                p.volunteer_name University Number One
                p.text-justify Lorem ipsum dolor sit amet.
          .col-md-4.col-sm-6.col-xs-6
            a(href="/u_profile")
              .col-md-12.text-center
                img(src="/images/landscape_placeholder.png")
                p.volunteer_name University Number Two
                p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          .col-md-4.col-sm-6.col-xs-6
            a(href="/u_profile")
              .col-md-12.text-center
                img(src="/images/landscape_placeholder.png")
                p.volunteer_name University Number Three
                p.text-justify Consectetur adipisicing elit. Labore similique 