extends layout

block content

  div.row.row-centered.bckground-header
    h1.text-center Make your good work, work for you

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content
        .col-md-12
          h1.text-center Volunteers
        .col-md-12.break  

        .col-md-12
          h2 Benefit while volunteering

          div.col-md-4.text-center
            .col-md-12
              h3 Lorem
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius aut vero explicabo, sed molestias saepe tempore. Quae debitis alias deserunt, doloribus nostrum sapiente aperiam vel, porro excepturi quasi ad. Quia.

          div.col-md-4.text-center
            .col-md-12
              h3 Ipsum
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quae facere natus repellat odit excepturi voluptatem eaque. Eos recusandae molestias, quasi quis, enim officiis impedit qui dolore, nesciunt, laborum architecto.

          div.col-md-4.text-center
            .col-md-12
              h3 Dolor
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, minus, quae! Voluptas amet eaque, iste omnis tenetur. Harum officiis fugit, vel possimus, error laboriosam eius voluptatem earum unde dolorum ab!
        
        .col-md-12.break

        .col-md-12
          h2 Our top volunteers
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit numquam maiores excepturi placeat quisquam distinctio, non aliquam harum tenetur atque, ipsam nemo consequatur laborum inventore quidem molestias magnam, ex suscipit.
          br
          .col-md-4
            a(href="/v_profile")
              .col-md-12.text-center.v_story
                img(src="/images/v_placeholder.png")
                .col-md-12
                  p.volunteer_name John Doe
                  p.text-justify I'm a Biology student, interested in helping elderly people.
          .col-md-4
            a(href="/v_profile")
              .col-md-12.text-center.v_story
                img(src="/images/v_placeholder.png")
                .col-md-12
                  p.volunteer_name Jack Young
                  p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          .col-md-4
            a(href="/v_profile")
              .col-md-12.text-center.v_story
                img(src="/images/v_placeholder.png")
                .col-md-12
                  p.volunteer_name Paul Smith
                  p.text-justify Consectetur adipisicing elit. Labore similique 

        .col-md-12.break

        .col-md-12  
          h2 Find a volunteer:
          .col-md-6.col-md-offset-3
            .input-group.col-md-12
              input(type="text", class="form-control input-lg", placeholder="Type a volunteer name" )
              span.input-group-btn
                button(class="btn btn-lg", type="button")
                  i.glyphicon.glyphicon-search

              