extends layout

block content

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content
        .col-md-12
          .col-md-2.user-bg
            img(src="/images/placeholder.png")
          .col-md-3
            h3 John Doe
              img(src="/images/male.svg", class="ico")
            p.date 14/05/1990

          .col-md-5.col-md-offset-2.info
            p Current position: <em>Student at Oxford University</em>
            p Skills: <em>IT, Marketing, Communication</em>
            p Location: <em>London</em>

    div.row.row-centered
      div.col-md-10.col-md-offset-1.content.XP
        .col-md-12
          .col-md-12
            h2 Experiences

          .col-md-9
            p.charity_name British Red Cross
            p <em>April 2014 - September 2014. ~ 120 hours volunteeredt</em>
            p During these 5 months of volunteering, I lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            p Manager: <em>Tom Scott - Volunteers Manager</em>
            p Skills: <em>autonomy, rigour, communication</em>
            p Validation: <em>This experience has not yet been validated</em>
            p <u>1 recommendation</u>

          .col-md-2.col-md-offset-1
            img(src="/images/img_placeholder.png")

          .separator.col-md-2.col-md-offset-5
          
          .col-md-9
            p.charity_name ABL Health
            p <em>February 2012 - September 2013. ~ 500 hours volunteered</em>
            p I volunteeered for 1.5 years in lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            p Manager: <em>Jack Johnson - Healthcare Volunteer</em>
            p Skills: <em>autonomy, rigour, communication</em>
            p <em>Validated by manager</em>

          .col-md-2.col-md-offset-1
            img(src="/images/img_placeholder.png")
          
        .col-md-12
          p.text-center Add experience

    div.row.row-centered
      div.col-md-10.col-md-offset-1.content
        .col-md-12
          .col-md-12
            h2 Recommendations

          .col-md-12
            .col-md-1.user-md
              img(src="/images/placeholder.png")
            .col-md-10
              p.manager_name Tom Scott - Red Cross London
              img(src="/images/stars.svg", width="100px")
              p During these 5 months of volunteering, John has been I lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.



