extends layout

block content

  div.row.row-centered.background-header(style="background-image: url('/images/volunteer_background.png');")
    h1.text-center.col-md-10.col-md-push-1.col-xs-12.col-sm-12 Let your good work, work for you
    h2.text-center.col-md-10.col-md-push-1.col-xs-12.col-sm-12 Track your volunteering hours, reach milestones and build skills

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        //- .col-md-12
        //-   h1.text-center Volunteers
        //- .col-md-12.break  

        .col-md-10.col-md-offset-1.col-sm-12.col-xs-12
          p.liner.text-center 
            |You don’t need to have years of experience to make a real difference in the world! VOLO connects you with charities that can help you build your skills while giving back in your local community and creating visible change.  
            |As a VOLO volunteer you can locate opportunities to enhance your skills, track your progress and meet interesting new people, all while adding serious value to your CV and grabbing the attention of socially minded employers!  
            |Charities need you as much as you need them.  
            br
            |So VOLO today and grow together for a better tomorrow! 

        .col-md-12.col-xs-12.col-sm-12.break

        .col-md-12.col-sm-12.col-xs-12
          h3 Why VOLO?
          p In an increasingly competitive job market, it’s your experience that will set you apart. But how do you gain experience if employers won’t hire you without any experience? VOLO is your solution! 
        
        .col-md-12.col-xs-12.col-sm-12.break

        .col-md-12.col-sm-12.col-xs-12
          h3 How does it work?
          .col-md-12.col-xs-12.col-sm-12.text-center
            .col-md-5.col-md-push-1.col-sm-5.col-sm-push-1.col-xs-12
              p.col-md-10.col-md-offset-1.col-xs-12.col-sm-12
                |Upload your volunteer experience and tag up to three key skills you’ve gained through each role. 
                |VOLO will help you track your hours and skills in a way that will impress employers and gain you recognition 
                |from your peers and community. Each VOLO hour you accumulate is a step closer towards 
                |your personal goals and towards a better future for all of us. 
            .visible-xs
              p &nbsp;
            .col-md-5.col-md-push-1.col-sm-5.col-sm-push-1.col-xs-12
              p.col-md-10.col-md-offset-1.col-xs-12.col-sm-12
                |VOLO will also recommend new volunteer opportunities to help you further strengthen the skill that you want to develop and promote to employers. 
                |And you don’t have to take our word for it... 
                |Skill building is <em>peer recommended</em>, so you can be sure that it's the right opportunity for you! 

        
        .col-md-12.col-xs-12.col-sm-12.break
        
        .col-md-12.col-sm-12.col-xs-12
          h3 Our top volunteers
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit numquam maiores excepturi placeat quisquam distinctio, non aliquam harum tenetur atque, ipsam nemo consequatur laborum inventore quidem molestias magnam, ex suscipit.
          br
          .col-md-10.col-md-push-1.col-sm-12.col-xs-12.volunteer_list

        .col-md-12.col-xs-12.col-sm-12.break

        .col-md-12.col-xs-12.col-sm-12  
          h3 Find a volunteer:
          .col-md-6.col-md-offset-3.col-xs-12.col-sm-12
            form(action="/volunteer/search")
              .input-group.col-md-12.col-xs-12.col-sm-12
                input(type="text", name="search", class="form-control", placeholder="Type a volunteer name" )
                span.input-group-btn
                  button(class="btn btn-primary btn-search", type="button")
                    i.glyphicon.glyphicon-search


        script.
          $(document).ready(function() {
            $.ajax({
              dataType: "json",
              url: '/volunteer/list',
              success: function(data){
                $.each(data, function(){
                  var v_url = '/volunteer/'+ this._id;
                  var v_first_name = this.first_name;
                  var v_photo = '/volunteer/photo/'+ this._id;
                  $('.volunteer_list').append(
                    '<div class="col-md-4 col-sm-4 col-xs-6"> \
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-center v_story no-gutter">\
                    <a style="display:block" href="'+ v_url +'"><img style="display:block" src="'+ v_photo +'"/>\
                    <p style="display:block" class="volunteer_name">'+ v_first_name +' </p></a></div></div>')
                });
              },
              error: function(err) {
                console.log(err);
              }
            });
          });

