extends ../layout

block content
  //- inline editing
  script(src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js")
  //- combodate
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")

  //- select2
  script(src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js")

  //- number input
  script(src="/javascripts/bootstrap-formhelpers-phone.js")
  script(src="/javascripts/bootstrap-formhelpers-countries.js")
  
  //- autocomplete for roles
  script(src="/javascripts/jquery.autocomplete.min.js")  

  script(src="/javascripts/Chart.js")
  script(src="/javascripts/goal.js")  

  //- for ajaxsubmit
  script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
  
  //- file input validation
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js")
    //- necesary to validate extension file
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/additional-methods.min.js")

  .container-fluid.profile_container
    .col-md-7.col-md-offset-1
      div.row.row-centered
        .col-md-12
          .col-md-12.content
            .col-md-2.user-bg
              img(src="#{volunteer.photo}", class="text-center")
              a(href="#", id="changeImg", class="text-center", data-toggle="modal", data-target="#uploadModal") Change photo
            .col-md-7
              h3
                a(href="#", id="first_name", data-type="text", data-pk="first_name", data-placeholder="First Name", data-url="/volunteer/update", data-title="Enter first name") #{volunteer.first_name}
                | 
                a(href="#", id="last_name", data-type="text", data-pk="last_name", data-placeholder="Last Name", data-url="/volunteer/update", data-title="Enter last name") #{volunteer.last_name}
                img(src="/images/male.svg", class="ico")
              p 
                a(href="#", class="date", id="birthdate", data-type="combodate", data-pk="birthdate", data-url="/volunteer/update", data-title="Enter your birth date")
            .col-md-12
            .col-md-6.info
              p Email: <em>john.doe@gmail.com</em>
              p Phone: <em>555-555-555</em>
              p Current position: <em>Student at Oxford University</em>
              p Accumulated hours: <em>620</em>
            .col-md-5.col-md-offset-1.info
              p Home: <br/>
              |<em>London W1F 9AG, UK</em>
    
    .col-md-3
      div.row.row-centered
        .col-md-12.content
          .col-md-12
            h2 Goals
            
            h5 Total hours volunteered
            canvas(id="g_goal", height="280px", width="80px")

            h5 Hours volunteered <em>this week</em>
            canvas(id="w_goal", height="230px")
            p You've reached your weekly goal!! <em>
              a(href="#") Share it </em>

    .modal.fade#uploadModal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal") &times;
            p Change your profile photo
          .modal-body
            form(id="uploadForm", enctype="multipart/form-data", action="/volunteer/photo", method="post")
              input(type="file", name="userPhoto", value="Upload new photo")
              input(type="submit", value="Change photo", name="submit", class="btn btn-primary sharp modal-submit")

  script.
    //- $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function() {
      $('#first_name').editable({emptytext: 'First Name'});
      $('#last_name').editable({emptytext: 'Last Name'});
      $('#birthdate').editable({
        format: 'YYYY-MM-DD',    
        viewformat: 'DD/MM/YYYY',    
        template: 'D / MMMM / YYYY',    
        combodate: {
              maxYear: 1999, 
              minYear: 1920
         },
         emptytext: 'Birthdate'
      });

      $('#uploadForm').validate({
          rules: {
              userPhoto: {
                  required: true,
                  extension: "png|jpg|gif|jpeg"
              }
          },
          messages: {
              userPhoto: {
                  required: "Please upload a new photo",
                  extension: "Please upload a valid image file"
              }
          }
      });

      $('#uploadForm').submit(function() {
        $(this).ajaxSubmit({
          error: function(xhr) {
            console.log(xhr);
          },
          success: function(response) {
            console.log(response);
            //remove public from path
            var $newFile = response.substring(6);
            $('.modal').modal('toggle');
            $(".user-bg img").attr('src',$newFile);
          }
        });
        return false;
      });    

    });



