// Loading config with variables (changing them leads to changing a color scheme)
// @import "bootstrap";
@import "variables";

// Utility mixins for greater good
@import "mixins";

@import "modules/buttons.less";
@import "modules/type.less";

body {
  font: 300 20px/28px @font-family-base;
  color: @brand-primary;
  background-color: #e2e2e2;
}
p {margin-bottom: 0 !important;}

h1, h2 {
  font-weight: 300;
}

h3, h4 {
  font-weight: 400;
  margin: 13px 0px;

}

h5 {
  font-weight: 200;
  line-height: 150%;
}

em {
  font-style: normal;
  font-weight: 400;
}

.row {
  margin-top: 20px;
  margin-bottom: 30px;
}

.row:last-child {
  margin-bottom: 0;
}

.hiw {
  p:first-of-type {
    padding:15px;
    font-size: 50px;
    font-weight: 500;
    border-radius: 50%;
    // border-bottom: 1px solid black;
  }
}

.bckground-header {
  background-color: #7a7a7a;
  margin-top: 0px;
  margin-bottom:0px;
  height: 400px;
  h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:0;
  }
}

nav {
  background-color: white;
  &.navbar-default {
    background-color: white;
    margin-bottom: 0px;
    // border-bottom: 0.07em solid #ccc;
    // box-shadow: #aaa 4px 0px 2px;
  }
  .navbar-toggle {
  width: 100%;
  float: none;
  margin-right: 0;
}
}

.navbar-default .navbar-nav > li > a {
  // color: @brand-primary;
  &:hover{
    color: black;
  }
}

.colored {
  background-color: fade(@brand-primary, 15%);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
}

h1.logo {
  font: 400 48px/60px @font-family-logo;
  font-variant: small-caps;
  color: @brand-primary;
  text-indent: -999em;
  background-image: url('/images/logo.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 14px;
  margin-bottom: 12px;
    @media screen {
      @media (max-width:767px) {
        background-position: top center;
      }
    }
}

.user-md {
  img {
    width: 80px;
    .rounded(50%);
    border: 1px solid @brand-secondary;
  }
}

.user-bg {
  img {
    width: 150px;
    .rounded(50%);
  }
}

.user{
  img {
    width: 70px;
    .rounded(50%);
    height: auto;
    margin-right: 15px;
  }
  p {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  font-weight: 400 !important;
  background-color:inherit !important;
}

#footer {
  margin-top: 27px;
  background-color: #aaa;
  padding-top: 20px;
  padding-bottom: 30px; 
  a, a:active, a:visited, a:focus {
    color: @brand-primary;
  }
}

.btn.sharp {
  border-radius:0;
}

.content {
  background-color: white;
  border: 1px solid #666666;
  padding: 27px 0px;
  h1, h2 {
    margin-top: 0px;
  }
}

.info {
  margin-top: 13px;
}

.charity_name, .manager_name, .volunteer_name{
  font-weight: 400;
  font-size: @font-size-base*1.2
}
.ico {
  width: @icon-medium;
  margin-left: 10px;
}

.date {
  font-weight: 400;
}

.XP {
  padding-bottom: 0px !important;
  .separator {
    border-top: 0.1em solid @brand-secondary;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .col-md-12:last-of-type {
    margin-top: 15px;
    background-color: @brand-secondary;
    color:#f1f1f1;
    padding: 10px;
    cursor: pointer;
    .transition(all .25s);
    &:hover{
      background-color: fade(@brand-secondary, 80%);
      color:white;
    }
  }  
}


.big-btn {
  padding: 15px 45px;
  font-size: 30px;
}

.bar {
  margin-bottom: 7px;
  padding-top:7px;
  padding-bottom:7px;
  &:last-of-type {
    margin-bottom: inherit;
  }
}

.v_story {
  border: 1px solid #aaa;
  padding-bottom: 15px;
  padding-right:0;padding-left:0;
  img {
    max-width: 100%;
  }
  .volunteer_name {
    padding-top: 7px;
  }
}